   protected void hiddenButton_Click(object sender, EventArgs e)
        {
            string jsonData = hiddenField.Value;
            Response.Write(jsonData);
            if (string.IsNullOrEmpty(jsonData))
            {
                JavaScriptSerializer js = new JavaScriptSerializer();
                js.MaxJsonLength = int.MaxValue;
                var tableData = js.Deserialize<object[][]>(jsonData);

                StringBuilder csv = new StringBuilder();
                csv.AppendLine("Name,vCenter,CPU,Memory,Total Storage,Power State,Cluster,Data Center,OS,Owner,Created Date");

                foreach (var row in tableData)
                {

                    csv.AppendLine($"{row[0]},{row[1]},{row[2]}");
                }

                Response.Clear();
                Response.ContentType = "text/csv";
                Response.AddHeader("content-disposition", "attachment;filename=TableData.csv");
                Response.Write(csv.ToString());
                Response.End();
            }
            [{"VMName":"APAAUDPSNA01","vCenter":"apgaraavcs801","VMNumCPU":6,"VMMemoryCapacity":16,"VMTotalStorage":200,"VMPowerState":"PoweredOn","VMCluster":"GBAAPPCL1","VMDataCenter":"Ankara","VMGuestOS":"Debian GNU/Linux 11 (64-bit)","VMOwner":"-","VMCreatedDate":"11/28/2023"}]
