table
table {
    border-collapse: collapse;
    width: 97%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 9px;
}

th,
td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    width: auto
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #efefef;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-arrow {
    margin-left: 5px;
    font-size: 8px;
}

.table-top {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 8px auto 4px auto
}

button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    outline: none;
}

#reset-button {
    background-color: black;
    padding: 5px 8px;
    margin-left: 10px;
}

    #reset-button:hover {
        background-color: #484848;
    }

#rowCounter {
    margin-right: auto;
    font-size: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-link {
    display: inline-block;
    padding: 10px;
    margin: 0 4px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
}

    .page-link.active {
        background-color: black;
        color: white;
    }


screen

body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.boldText {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: small;
}

.blueText {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.linkText {
    color: #8dbdd9;
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
}

.header {
    overflow: hidden;
    background-color: black;
    padding: 10px 10px;
}

    .header h1 {
        margin: 20px;
        float: left;
        text-align: center;
        text-decoration: none;
        line-height: 10px;
        border-radius: 4px;
        color: #F8F9FA;
    }


#logo {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 55px;
    height: 70px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
}

.footer {
    display: block;
    font-size: 14px;
    color: #888;
}
